Django==3.2.16
mysqlclient == 2.1.1
scrapy-djangoitem==1.1.1
scrapy==2.7.1
scrapyd==1.2.0
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
django-cors-headers==3.7.0
django-webpack-loader==1.0.0
uwsgi==2.0.19.1
markdown==3.3.4
django-filter==2.4.0
Pygments==2.9.0
django-environ==0.9.0
djangorestframework-simplejwt==5.2.2
djoser==2.1.0
django-jazzmin==2.6.0
django-extensions==3.2.1
Werkzeug==2.2.2
